<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="isag" translate="label" sortOrder="999">
            <label>InterSales AG Modules</label>
        </tab>
        <section id="intersales_overheat" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Overheat Configuration</label>
            <tab>isag</tab>
            <resource>InterSales_Overheat::config</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setting for overheat</label>
                <field id="isEnableOverheat" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable for Use</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apiKey" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <comment>Please enter your personal overheat-ID in this field.</comment>
                </field>
                <field id="jsTrackingCode" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking Code</label>
                    <comment>This is the tracking code generated for your Magento store.</comment>
                </field>
                <field id="trackingCodeButton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>InterSales\Overheat\Block\System\Config\Gettrackingcode</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>